.category h1{
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(221, 149, 149, 0.5);
  text-transform: capitalize;
}

.category main{
  display: flex;
  flex-wrap: wrap;
}

.category section{
  width: calc(33% - 20px);
  margin: 10px;
  background-color: var(--background-color);
  border-radius: 25px;
  position: relative;
}

.category section p{padding: 0 20px;}

.category section *{word-break: break-all}

.category section img{
  width: 90%;
  height: 200px;
  display: block;
  margin: 10px auto;
}

.category section h2{
  color: var(--main-color);
  font-size: 26px;
}

.category section .price{
  font-size: 20px;
  font-weight: 600;
}

.category section .description{
  display: -webkit-box;
  display: -moz-box;
  display: box;
  max-height: 70px;
  margin-bottom: 60px;
  overflow: hidden;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  /* autoprefixer: on */
}

.category section a{
  position: absolute;
  right: 20px;
  bottom: 16px;
}

.category section .city{
  position: absolute;
  bottom: 0;
}

.category section p svg{margin-right: 5px; }

@media screen and (max-width: 1065px){
  .category main section{
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 760px){
  .category main section{
    width: calc(100% - 20px);
  }
}
