.home{
    background-color: var(--background-color);
    display: flex;
    margin: 20px auto !important;
}

main{flex: 2;}

main nav ul{
    list-style: none;
    display: flex;
    padding: 0;
}

main nav ul li{margin-left: 20px}

main nav ul li a{
    text-decoration: none;
    color: #FFF;
    background-color: var(--main-color);
    display: block;
    height: 50px;
    width: 133px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 2.5em;
}

main .card{
    display: flex;
    background-color: rgba(24, 117, 209, 0.15);
    margin-bottom: 5px;
}

main .card img{
    max-width: 170px;
    height:160px;
}

main .card div{width: 100%;}
main .card div h2{padding-left: 20px}
main .card p:first-of-type{font-size: 20px;}
main .card p.city{
    display: inline-block;
    margin-top: 0;
}

main .card a{
    float: right;
    margin-right: 20px;
}

aside{
    flex: 1; 
    padding: 20px;
}

aside form .login-links{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}